/*   font / background colors   */

//$btn: ;        // 
$bg-color: #f9f7ee;       // Light grayish yellow.
               
$color-1: #fff;           // White.
$color-2: #1e191a;        // Very dark (mostly black) red.   
$color-3: #1a74b4;        // Strong blue.                    
$color-4: #8e8e8e;        // Dark gray.                      